<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseActivity" />
        <activity
            android:name=".WorkOrderDetails"
            android:parentActivityName=".ChooseActivity" />
        <activity
            android:name=".RawMaterialDetails"
            android:parentActivityName=".WorkOrderDetails" />
        <activity
            android:name=".ProductionDetails"
            android:parentActivityName=".RawMaterialDetails" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".ProductionDetails1"
            android:parentActivityName=".ProductionDetails" />
        <activity android:name=".Sheet_Card" />
        <activity
            android:name=".DispatchDetails"
            android:parentActivityName=".ProductionDetails10" />
        <activity android:name=".SheetSummary" />
        <activity
            android:name=".ProductionDetails2"
            android:parentActivityName=".ProductionDetails1" />
        <activity
            android:name=".ProductionDetails3"
            android:parentActivityName=".ProductionDetails2" />
        <activity
            android:name=".ProductionDetails4"
            android:parentActivityName=".ProductionDetails3" />
        <activity
            android:name=".ProductionDetails5"
            android:parentActivityName=".ProductionDetails4" />
        <activity
            android:name=".ProductionDetails6"
            android:parentActivityName=".ProductionDetails5" />
        <activity
            android:name=".ProductionDetails7"
            android:parentActivityName=".ProductionDetails6" />
        <activity
            android:name=".ProductionDetails8"
            android:parentActivityName=".ProductionDetails7" />
        <activity
            android:name=".ProductionDetails9"
            android:parentActivityName=".ProductionDetails8" />
        <activity
            android:name=".ProductionDetails10"
            android:parentActivityName=".ProductionDetails9" />
        <activity android:name=".SearchActivity"
            android:parentActivityName=".ChooseActivity"/>
    </application>

</manifest>